<div class="hero-head">
  <header class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item">
          <p>BCR.</p>
        </a>
        <span class="navbar-burger burger" data-target="main-nav">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="main-nav" class="navbar-menu">
        <div class="navbar-end">
          <%= link_to "Home", root_path, class: "navbar-item is-active" %>
          <%= link_to "About", pages_about_bcr_path, class: "navbar-item" %>
          <%= link_to "Product", pages_about_coffee_path, class: "navbar-item" %>
          <%= link_to "Bio", pages_about_us_path, class: "navbar-item" %>
          <%= link_to "Contact", pages_contact_path, class: "navbar-item" %>
        </div>
      </div>
    </div>
  </header>
</div>
